<% provide(:title, 'Home') %>
<div class="hero-unit">
    <h1>Welcome to the sample app</h1>
    <%= link_to "Sign up now!", signup_path, title: "Sign up", class: "btn btn-large btn-primary" %>
</div>
<%= link_to image_tag("rails.png", alt: "Rails"), "#" %>
