<footer class="footer">
  <small>
      <a href="#">Rails Tutorial</a>
      by Mike
  </small>
  <nav>
    <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="#">news</a>
    </ul>
  </nav>
</footer>
